docker.enabled = false
conda.enabled = true

params {
    input_dir = "input"
    output_dir = "results"
    gs_file = "${params.input_dir}/GS_B24-YMA-202.xlsx"
    nx_file = "${params.input_dir}/Nx_B24-YMA-202.xlsx"
    om_file = "${params.input_dir}/Om_B24-YMA-202.xlsx"
    gold_file = "${params.input_dir}/GoldStandart.xlsx"
}

process {
    conda = "${projectDir}/environment.yml"
}